@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  background-color: forestgreen;
  z-index: 1000;
}

.head {
  padding-left: 20px;
}

#context {
  position: absolute;
  display: inline-block;
  background-color: white;
  border: 1px solid lightgray;
  display: none;
}

.context-menu {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.context-menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: forestgreen;
}

.context-menu a:hover {
  background-color: lightgray;
}

#name,
#buttons {
  height: 50px;
}

input[type="button"] {
  background-color: forestgreen;
  color: white;
  border: 1px;
  width: 100px;
  height: 50px;
  font-size: large;
}

.menu {
  list-style: none;
  float: left;
  color: white;
  border: 1px;
  width: 60px;
  height: 50px;
  font-size: large;
  padding: 0;
  text-align: left;
  margin-top: 14px;
  margin-left: 20px;

}

.menu-trigger {
  color: white;
  border: 1px;
  width: 100px;
  height: 50px;
  font-size: large;
  font-weight: lighter;
  text-align: center;
  padding: 0;
  text-decoration: none;

}

.submenu {
  list-style: none;
  padding: 0;
  color: white;
  background-color: white;
  border: 1px solid gray;
  margin-top: 15px;
  text-decoration: none;
  position: absolute;
  display: none;
}

.submenu.active {
  display: block;
}

.submenu a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-weight: 700;
  color: forestgreen;
  font-weight: normal;

}

.submenu a:hover {
  background: lightgray;
}

#textarea {
  width: 800px;
  height: 30px;
  vertical-align: top;
  padding: 5px;
}

body {
  background-color: white;
  color: black;
}

.section {
  padding-top: 100px;
  padding-left: 10px;
  border-radius: 30%;
  color: gray;
}

.cat {
  display: inline-block;
  padding-top: 100px;
  padding-left: 50px;
  font-size: medium;
}

.orders {
  padding-top: 100px;
  padding-left: 50px;
}

article {
  vertical-align: top;
  display: inline-block;
  border: 2px solid lightgray;
  padding: 15px;
  margin: 10px;
  height: 250px;
  background-color: rgb(241, 239, 239);
  border-radius: 3%;
}

.photo {
  padding-top: 20px;
  padding-left: 20px;
}

.articlephoto {
  vertical-align: top;
  max-width: 23%;
  display: inline-block;
  border: 2px solid black;
  padding: 12px;
  margin: auto;
  height: 180px;
  justify-content: center;
  align-items: center;
}